<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>login page</h1>
        <form action="/" method="post">
            <label for="nameLabel">Name:</label><br>
            <input type="text" id="nameLabel" name="name" required><br>
            <p id="gender">Gender:</p>
            <input type="radio" id="male" name="gender" required>
            <label for="male">Male</label><br>
            <br>
            <input type="radio" id="female" name="gender">
            <label for="male">female</label><br>
            <br>
            <label for="weightLabel">Weight:</label><br>
            <input type="number" id="weightLabel" name="weight" required><br>
            <br>
            <label for="heightLabel">Height:</label><br>
            <input type="number" id="heightLabel" name="height" required><br>
            <br>
            <input type="submit" id="submitButton">
        </form>
        <script src="index.js"></script>
    </body>
</html>